html, body {
    height: 100%;
}

.label-column {
    width: 40%;
}

.value-column {
    width: 60%;
}

#main-content-container {
    max-width: 42rem;
}

#unsaved-changes-warning {
    display: none;
}

#config-output {
    word-break: break-all;
}

#brand-name {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--bs-brand-text);
}

#brand-text {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0;;
    color: var(--bs-brand-text);
}

#brand-logo {
    width: 60px;
    height: 44px;
}

nav {
    background-color: var(--bs-navbar-bg);
}

footer {
    background-color: var(--bs-footer-bg);
}

.icon-button {
    color: var(--bs-brand-text);
}