html, body {
    height: 100%;
}

nav {
    background-color: var(--bs-navbar-bg);
}

footer {
    background-color: var(--bs-footer-bg);
}

.unit-label {
    width: 4rem;
}

.label-column {
    width: 40%;
}

.value-column {
    width: 60%;
}

.icon-button {
    color: var(--bs-brand-text);
    transition: opacity 0.2s;
    
    &:hover {
        opacity: 0.8;
    }
}

#main-content-container {
    max-width: 42rem;
}

#config-output {
    word-break: break-all;
}

#brand-name {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--bs-brand-text);
}

#brand-text {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0 0 0.2rem 0;
    color: var(--bs-brand-text);
}

#brand-logo {
    width: 60px;
    height: 44px;
    // Values calculated for --bs-brand-text (#19191A) with https://codepen.io/sosuke/pen/Pjoqqp
    filter: invert(5%) sepia(0%) saturate(2418%) hue-rotate(296deg) brightness(94%) contrast(89%);
    
}

[data-bs-theme=dark] #brand-logo {
    // Values calculated for --bs-brand-text (#DEE2E6) with https://codepen.io/sosuke/pen/Pjoqqp
    filter: invert(99%) sepia(1%) saturate(2871%) hue-rotate(177deg) brightness(97%) contrast(85%);
}


