// Light Theme - Cyan/Teal/Navy (simplified)
:root {
  // Light theme - Cyan/Teal/Navy
  --bs-body-color: #000f0e; /* Hedlines */
  --bs-body-bg: #c7fff8; /* Background */

  --bs-secondary-color: #0b363e; /* Some text in forms */
  --bs-secondary-bg: #ff0000;

  --bs-tertiary-color: #ff0000;
  --bs-tertiary-bg: #54caca; /* Unit sections in Forms */

  --bs-emphasis-color: #040f0c; /* Text emphasis */
  --bs-border-color: #070f0d; /* Form Borders */

  --bs-navbar-bg: #0a8fac; /* Navbar background */
  --bs-footer-bg: #0a8fac; /* Footer background */
}
