@import "bootstrap/scss/bootstrap";

// Import Bootstrap Icons
@import "bootstrap-icons/font/bootstrap-icons.css";

// Import custom themes
@import "theme-light";
@import "theme-dark";

// Custom styles
@import "extra";